.bg{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.cart-root{
    width: 400px;
    height: 100vh;
    padding: 25px;
    background-color: white;
    color: black;
    position: absolute;
    right: -410px;
    transition: all 0.5s;
    top: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cart-close-btn{
    position: absolute;
    top: 16px;
    right: 16px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: black;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    font-size: 18px;
}

.cart-title{
    margin-bottom: 20px;
}

.cart-items{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: calc(100% + -30px);
    overflow-y: scroll;
}

.cart-item{
    display: flex;
}

.cart-item__img{
    width: 30%;
}

.cart-item__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
    width: 50%;
    margin-left: 10px;
    align-items: end;
}

.cart-item__delete-btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 40px;
    height: 40px;
}